---
component: item
---
<article class="rb-{{ component }} {{ type }}">
	{{#is headline.inTextBox false}}
		<header class="{{ component }}-header">
			<h2 class="{{ component }}-title">{{ headline.title }}</h2>
		</header>
	{{/is}}
	<div class="{{ component }}-inner">
		{{#if media}}
			<div class="{{ component }}-mediabox">
				<div class="{{ component }}-mediabox-inner">
					{{#if media.image }}
						<img class="{{ component }}-media {{#if media.image.lazy}}lazyload{{/if}}"
							{{#if media.image.lazy }}
								{{#if media.image.src}}
                             data-src="{{ media.image.src }}"
								{{/if}}
                             data-srcset="{{join  media.image.srcs ", "}}"
                             data-sizes="auto"
							{{else}}
								{{#if media.image.src}}
                             src="{{ media.image.src }}"
								{{/if}}
                             srcset="{{join  media.image.srcs ", "}}"
                             sizes="{{sizes}}"
							{{/if}}
							 alt=""/>
					{{/if}}
				</div>
			</div>
		{{/if}}
		{{#or title link }}
			<div class="{{ component }}-textbox">
				{{#is headline.inTextBox true}}
					<h2 class="{{ component }}-title">{{ headline.title }}</h2>
				{{/is}}

				{{#if hook }}
					<p class="{{ component }}-text">{{ hook }}</p>
				{{/if}}

				{{#if link.href}}
					<a class="{{ component }}-link{{#is type 'is-teaser'}} {{type}}-link{{/is}}" href="{{ link.href }}"><span class="{{ component }}-link-title">{{ headline.title }} </span>{{
					link.actionText }}</a>
				{{/if}}
			</div>
		{{/or}}
	</div>
</article>
