---
component: rb_item
---
<article class="rb-item {{ type }}">
	{{#if headline.title}}
		<h2 class="item-title">{{ headline.title }}</h2>
	{{/if}}
	{{#if media}}
		<div class="item-mediabox">
			<img class="item-media {{#if lazy}}lazyload{{/if}}"
			     {{#if lazy }}
		        data-srcset="{{join  media.image.srcs ", "}}"
		        data-sizes="auto"
			     {{else}}
				     {{#if media.image.fallback}}
				        src="{{ media.image.fallback }}"
				     {{/if}}

			     srcset="{{join  media.image.srcs ", "}}"
				     data
			     {{/if}}
			     alt=""/>
		</div>
	{{/if}}
	{{#or title hook }}
		<div class="item-textbox">
			{{#if hook }}
				<p class="item-text">{{ hook }}</p>
			{{/if}}

			{{#if link.href}}
				<a class="item-link" href="{{ link.href }}"><span class="item-link-title">{{ headline.title }} </span>{{
				link.actionText }}</a>
			{{/if}}
		</div>
	{{/or}}
</article>
