---
component: rb_item
---

<article class="rb-item">
	<div class="item-inner">
		{{#if media}}
			<div class="item-mediabox">
				<img class="item-media lazyload"
				     data-srcset="{{join  media.image.srcs ", "}}"

				     alt=""/>
			</div>
		{{/if}}
		{{#or title hook }}
			<div class="item-textbox">
				{{#if headline.title}}
					<h2 class="item-title">{{ headline.title }}</h2>
				{{/if}}
				{{#if hook }}
					<p class="item-text">{{ hook }}</p>
				{{/if}}
			</div>
		{{/or}}

		<span>More</span>
	</div>
	{{#if link}}<a class="item-link" href="{{ link }}">{{ title }}</a>{{/if}}

</article>
