---
component: rb_item
---
<article class="rb-item {{ type }}">
	{{#is headline.inTextBox false}}
		<h2 class="item-title">{{ headline.title }}</h2>
	{{/is}}
	<div class="item-inner is-column-group is-gutters-horizontal">
		{{#if media}}
			<div class="item-mediabox is-size-50">
				<div class="item-mediabox-inner">
					{{#if media.image }}
						<img class="item-media {{#if media.image.lazy}}lazyload{{/if}}"
							{{#if media.image.lazy }}
								{{#if media.image.src}}
                             data-src="{{ media.image.src }}"
								{{/if}}
                             data-srcset="{{join  media.image.srcs ", "}}"
                             data-sizes="auto"
							{{else}}
								{{#if media.image.src}}
                             src="{{ media.image.src }}"
								{{/if}}
                             srcset="{{join  media.image.srcs ", "}}"
                             sizes="{{sizes}}"
							{{/if}}
							 alt=""/>
					{{/if}}
				</div>
			</div>
		{{/if}}
		{{#or title link }}
			<div class="item-textbox is-size-50">
				{{#is headline.inTextBox true}}
					<h2 class="item-title">{{ headline.title }}</h2>
				{{/is}}

				{{#if hook }}
					<p class="item-text">{{ hook }}</p>
				{{/if}}

				{{#if link.href}}
					<a class="item-link{{#is type 'is-teaser'}} {{type}}-link{{/is}}" href="{{ link.href }}"><span class="item-link-title">{{ headline.title }} </span>{{
					link.actionText }}</a>
				{{/if}}
			</div>
		{{/or}}
	</div>
</article>
